*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: BoonHome;
    scroll-behavior: smooth;
}
.container{
    width: 75%;
    margin: 0 auto;
}
section *{
    font-size: 17px;
}
.header_bar{
    width:90%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display:flex;
    align-items: center;
}
.logo *{
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    display:flex;
    justify-content: space-between;
    width: 50%;
    margin-right:5%;
}
.logo_image{
    width:100px;
    height: 100px;
}
.logo_text > h1{
    display: inline;
    color:#394e53;
    font-size: 40px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    font-family:  Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
}
.nav_item{
    list-style: none;
    font-size: 20px;
    margin-left: 5%;
    position: relative;
    top: 0;
    left: 0;
}
.nav_item::before{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #000000;
    content: "";
    margin-left: 50%;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.nav_item:nth-child(4):before{
    width: 100%;
    margin-left: 0;
}

.nav_item:hover:before{
    margin-left: 0;
    width: 100%;
}

.nav_item a{
    text-decoration: none;
    color: #394e53;
    font-family: BoonHome;
}


.menu_click{
    width: 100%;
    z-index: 10;
    display: none;
    justify-content: flex-end;
}
/* I hide the checkbox because I only need the label */
#check{
    display: none;
}

.button{
    width: 40px;
    height: 40px;
    background: rgb(255, 192, 203);
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s ease-in;
    padding-top: 5px;
    line-height: 8px;
    text-align: left;
    z-index: 10;
}
.button:hover{
    background: rgb(253, 174, 187);
}
.button span{
    height: 3px;
    width: 100%;
    background: white;
    display: inline-block;
    transition: all 0.5s cubic-bezier(.62,.43,.35,1.47);
}


/* toggle icon animation */
#check:checked ~ .button span:nth-child(1){
    width: 100%;
    transform: rotate(45deg) translateY(6px) translateX(6px);
}
#check:checked ~ .button span:nth-child(2){
    width: 0;
}

#check:checked ~ .button span:nth-child(3){
    width: 100%;
    transform: rotate(-45deg) translateY(-7px) translateX(7px);
}


/* the nav height is set to 0 when the navbar is closed */

nav{
    text-align: left;
    overflow: hidden;
    transition: all 0.4s ease;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    background: #ffffff;
    height: 0;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #0c1019;
    display: block;
    font-size: 18px;
    transition: all 0.4s cubic-bezier(.22,.43,.35,1.5);
    opacity: 0;
    transform: scale(0);
    transform-origin: top;
    text-align: center;
    border-bottom: 1px solid #b4ac97;
    height: 30%;
    margin-top: 8%;
}

nav a:hover{
    background: #ffdd7f;
}

/* the nav height will be set to the height in pixels that would have for default, using height:auto won't work but you can put that value in pixels creating the slide*/
#check:checked ~ nav{
    height: 260px;
}

#check:checked ~ nav a{
    opacity: 1;
    transform: scale(1);
}


/* ທາງເທິງແມ່ນພາກສ່ວນຫົວ */

.content_header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_head{
    font-size: 50px;
    color: #666666;
}
.category_head{
    width: 20%;
    margin: 20px 0;
    height: 50px;
    background-color: #afb6ce;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.picture_head{
    margin-top: 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.info_head{
    margin-top: 20px;
    font-size: 17px;
}

/* ເທິ່ງນີ້ແມ່ນສ່ວນຫົວຂອງເວັບ */

.content_section_1{
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.side_left_section_1{
    width: 45%;
    display: none;
}
.side_right_section_1{
    width:100%;
    font-size: 25px;

}
.fmi_img{
    display: none;
}

/* ເທິ່ງນີ້ແມ່ນສ່ວນທີ່ຫນຶ່ງ */

.content_section_2{
    padding-top: 0px;
}


.footer_content{
    padding-top: 100px;
}
.profile{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.rate_item{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.item{
    width: 20%;
    height: 280px;
    background-color: #94b5bd;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


aside{
    margin: 100px auto;
    width: 80%;
    display: none;
}
.title_section_3{
    display: inline;
    margin-left: 5%;
    font-size: 30px;
}
.content_aside{
    display: flex;
    flex-direction: column;
}
.sec_3_item{
    width: 100%;
    margin:  3%;
    height: 300px;
    position: relative;
    text-decoration: none;
}
.iitem{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
    transition: all .5s;
}
.iitem *{
    color: #000000;
}
.iitem:hover{
    box-shadow: 0px 0px 10px 16px rgba(0, 0, 0, 0.06);
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}
.btn_item_3{
    position: absolute;
    bottom: 5%;
    right: 5%;
    padding: 3% 10%;
    border-radius: 10px;
    border: none;
    background-color: #a7bffd;
    color: #ffffff;
}
.btn_item_3:hover{
    cursor: pointer;
    background-color: #759af8;
}
.title_item_3{
    margin-bottom: 3%;
    margin-top: 20%;
}
.info_item_3{
}



.aside_nav{
    width: 200px;
    height: 200px;
    background-color: #000000;
    position: fixed;
    top: 20%;
    right: 10%;
    z-index: 100;
}



footer{
    background-color: #3f3c3c;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 16px rgba(0, 0, 0, 0.06);
}
footer *{
    color: #ffffff;
    font-size: 15px;
}
.typeoffooter{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.container_footer_item li{
    list-style: none;
    margin: 5% 0;
    font-size: 13px;
}
.title_footer{
    font-size: 15px;
}
.footer_item{
    width: 30%;
}
.s1{
    display: flex;
}
.footer_s{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1%;
}
.cradit{
    margin: 10px 0;
    text-align: start;
    color: #ffff;
    font-size: 10px;
    padding-bottom: 5%;
}











.cloud_bg_1{
    position: absolute;
    top: 27%;
    left: 0;
    width:30%;
    z-index: -1;
}
.cloud_bg_2{
    position: absolute;
    top: 48%;
    right: 0;
    width: 20%;
    z-index: -1;
}
.cloud_bg_3{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    z-index: -1;
}



.nav_other{
    position: fixed;
    top: 20%;
    right: 0;
    width: 400px;
    overflow: hidden;
}
#button{
    appearance: none;
    width: 70px;
    height: 30px;
    margin-left: 80%;
    position: relative;
    top: 0;
    right: 0;
    outline: none;
    border-radius: 25px;
}
#button::before{
    border-radius: 25px;
    width: 100%;
    height: 61%;
    padding: 10% 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #a7bffd;
    content: "ອ່ານເພີ່ມ";
    text-align: center;
}
#button:checked ~ .c_show_other{
    margin-left: 172px;
}
.c_show_other{
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all .5s;
    background-color: #d8dbe0;
    width: 55%;
    margin-left: 430px;
    border-radius: 25px;
    padding: 3%;
}
.other_item{
    height: 20%;
    background-color: rgb(243, 237, 237);
    margin: 2% 0;
    padding: 10% 5%;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
    transition: all .5s;
}
.other_item:hover{
    transform: scale(1.1,1.1);
    box-shadow: 0px 0px 10px 16px rgba(0, 0, 0, 0.06);
}



/* .other_item:nth-child(1){
    background-image: url(../image/u6.JPG);
    background-size: cover;
}
.other_item:nth-child(2){
    background-image: url(../image/u1.JPG);
    background-size: cover;
}
.other_item:nth-child(3){
    background-image: url(../image/u5.JPG);
    background-size: cover;
} */
.title_other{
    font-size: 20px;
}
.info_other{
    font-size: 15px;
}




.to_top{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 2%;
    right: 3%;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    animation: anime 1s infinite;
    -webkit-animation: anime 1s infinite;
}

@keyframes anime{
    0%{bottom: 2%;}
    50%{bottom: 3%;}
    100%{bottom: 2%;}
}




@media only screen and (max-width: 800px){
    .header_bar{
        display: flex;
        justify-content: center;
    }
    .logo_image{
        display: none;
    }
    .logo_text{
        
    }
    .nav{
        display: none;
    }
    .menu_click{
        display: flex;
        overflow: hidden;
    }
}
@media only screen and (max-width:420px){
    aside{
        display: block;
    }
    .logo_text h1{
        font-size: 30px;
    }
    .info_head{
    text-align: center;
    }
    .title_head{
        font-size: 40px;
    }

    .content_section_1{
        flex-direction: column;
    }
    .side_left_section_1{
        width: 100%;
    }
    .side_right_section_1{
        margin-top: 30px;
        width: 100%;
    }


    .content_section_2{
        text-align: center;
    }
    

    .typeoffooter{
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .footer_item{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .title_footer{
        margin-top: 5%;
    }
    .container_footer_item{
        display: flex;
        justify-content: space-between;
    }
    .container_footer_item li{
        display: inline;
    }


    .cloud_bg{
        width: 50%;
    }
    .cloud_bg_2{
        width: 50%;
    }
}